---
title: About
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>Who Am I?</h2>
</div>

<main class="tags-content" style="margin-top: 0px;">

    <ul class="tags-list" style="list-style-type: none;padding: 40px;">
        <h2>汪洋</h2>
        <br/>
        <p>位居成都"天府Java园", Gopher, 热爱生活，拥抱技术, 享受分享的快乐</p>
        <br/>
        <p>简书: <a target="_blank" href="https://www.jianshu.com/u/734ffb324ff8"  style="color:#5bbd72;">https://www.jianshu.com/u/734ffb324ff8</a></p>
        <br/>
        <p>GitHub: <a target="_blank" href="https://github.com/pyihe" style="color:#5bbd72;">https://github.com/pyihe</a></p>
        <br/>
    </ul>

</main>
    
{% include footer.html %}
